@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}
<div class="page home-page">
    <div class="page-body">
        <div class="row">
            <div class="col-sm-18 pull-right">
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageTop })
                <div class="row" id="homepage-banners">
                    <div class="col-sm-12">
                        @await Component.InvokeAsync("TopicBlock", new { systemName = "NopElectro-Home-Banner-1" })
                    </div>
                    <div class="col-sm-12">
                        @await Component.InvokeAsync("TopicBlock", new { systemName = "NopElectro-Home-Banner-2" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6 pull-left">
                <div id="homepage-side-info">
                    @await Component.InvokeAsync("TopicBlock", new { systemName = "NopElectro-Home-Column" })
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeCategories })
        @await Component.InvokeAsync("HomepageCategories")

        @await Component.InvokeAsync("TopicBlock", new { systemName = "HomepageText" })
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeProducts })
        @await Component.InvokeAsync("HomepageProducts")

        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeBestSellers })
        @await Component.InvokeAsync("HomepageBestSellers")

        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeNews })
        @await Component.InvokeAsync("HomepageNews")

        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforePoll })
        @await Component.InvokeAsync("HomepagePolls")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBottom })
    </div>
</div>

<script type="text/javascript" asp-location="Footer">
    $(window).on('load', function () {
        function handleOwlCarouselControl(element, show) {
            if (show) {
                $(element).find('.owl-controls').show();
            }
            else {
                $(element).find('.owl-controls').hide();
            }
        }

        var owl0 = $(".home-page .owl-carousel");
        owl0.on('initialized.owl.carousel', function (event) {
            handleOwlCarouselControl(event.target, event.page.count > 1);
        });
        owl0.on('resized.owl.carousel', function (event) {
            handleOwlCarouselControl(event.target, event.page.count > 1);
        });
        owl0.owlCarousel({
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                900: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            },
            nav: true,
        });
    });
</script>

