@{
    Layout = "_Root.Head";
}
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyStartHtmlTagAfter })
@await Html.PartialAsync("_Notifications")
@await Html.PartialAsync("_JavaScriptDisabledWarning")
@await Html.PartialAsync("_OldInternetExplorerWarning")

@{
    var isOnePageCheckout = @Context.Request.Path == "/onepagecheckout" ? true : false;
}
<div class="master-wrapper-page" id="@(isOnePageCheckout ? "secure-page" : "")">
    <div class="master-wrapper-page-inner">
        @await Component.InvokeAsync("AdminHeaderLinks")
        @await Html.PartialAsync("_Header")
        <script asp-location="Footer">
            AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');

            $(document).ready(function () {
                //Product Box Title
                var productTitle = $('.product-grid .item-box .product-title');

                productTitle.each(function () {
                    $(this).dotdotdot({
                        watch: true
                    });
                });
            });
        </script>
        <div class="header-menu">
            @await Component.InvokeAsync("TopMenu")
        </div>
        <div class="master-wrapper-content">
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentBefore })

            @if (IsSectionDefined("Breadcrumb"))
            {
                @RenderSection("Breadcrumb")
            }
            <div class="master-column-wrapper">
                @RenderBody()
            </div>
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentAfter })
        </div>
        @await Component.InvokeAsync("Footer")
    </div>
</div>

@await Component.InvokeAsync("EuCookieLaw")
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyEndHtmlTagBefore })
